body {
    background-color: #0D1321;
}

h1 {
    color: #FBF5F3;
    font-family: monospace;
    font-size: 2.3rem;
    width: max-content;
    margin: auto;
}

h2 {
    color: lightgrey;
    font-family: monospace;
    font-size: 1.3rem;
    width: max-content;
    margin: auto;
    margin-top: 0.9vh !important;
}

.impHr {
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
    width: 90%;
}

#plNum {
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-color: #F0EBD8;
    width: 50%;
    display: block;
    margin-top: 2vh !important;
    color-scheme: dark;
    color: black;
    font-family: monospace;
    padding: 0.7vh;
    border-radius: 15px;
    text-align: center;
    font-size: 3vh;
    box-shadow: none;
    border: none;
}
#plNum::placeholder {
    color: rgba(8, 5, 5, 0.63);
    font-family: monospace;
}
#plNum:focus, input:focus {
    outline: none !important;
}

#deckSel {
    display: block;
    margin: auto;
    padding: 0.5vh;
    border-radius: 5px;
    width: 75%;
    height: 4vh;
    color: #1D2D44;
    font-family: monospace;
    background-color: #F0EBD8;
    border: none;
    outline: none;
}
select:active {
    background-color: black;
}

#sizeSel {
    display: block;
    margin: auto;
    padding: 0.5vh;
    border-radius: 5px;
    width: 75%;
    height: 4vh;
    color: #1D2D44;
    font-family: monospace;
    background-color: #F0EBD8;
    border: none;
    outline: none;
    margin-top: 2vh !important;
}

#jokSel {
    display: block;
    margin: auto;
    padding: 0.5vh;
    border-radius: 5px;
    height: 4vh;
    width: 75%;
    color: #1D2D44;
    font-family: monospace;
    background-color: #F0EBD8;
}

#firstRes {
    display: block;
    margin: auto;
    height: 4vh;
    background-color: #F0EBD8;
    text-align: center;
    border-radius: 4px;
    padding: 1vh;
    width: 60%;
    margin-top: 2.5vh;
    font-family: monospace;
    font-size: 2vh;
}